  <!-- ======= Services Section ======= -->
  <div id="services">
    <div class="container">

      <div class="services-carousel owl-theme">

        <div class="services-block">
          <ion-icon name="color-palette-outline"></ion-icon>
          <span>ARTIST</span>
          <p class="separator">My art is about expressing the day to day changes
          as well as the seasonality of the beautiful countryside I see around
          me.</p>
        </div>

        <div class="services-block">
          <ion-icon name="image-outline"></ion-icon>
          <span>ILLUSTRATOR</span>
          <p class="separator">I work with watercolours and ink to create
          illustrations but often enjoy working with pen and ink by
          themselves.</p>
        </div>

        <div class="services-block">
          <ion-icon name="people-outline"></ion-icon>
          <span>CHILDREN'S WRITING</span>
          <p class="separator">I write and illustrate picture books for children
          and I am developing a series for middle-grade readers.</p>
        </div>

        <div class="services-block">
          <ion-icon name="book-outline"></ion-icon>
          <span>NON-FICTION</span>
          <p class="separator">My non-fiction work is about finding my voice and
          the lost experiences of women in my family and the wider culture.</p>
        </div>


      </div>

    </div>

  </div><!-- End Services Section -->