  <!-- ======= Services Section ======= -->
  <div id="services">
    <div class="container">

      <div class="services-carousel owl-theme">

        <div class="services-block">
          <ion-icon name="book-outline"></ion-icon>
          <span>AUTHOR</span>
          <p class="separator">To an English person, it will seem like simplified English,told me what </p>
        </div>

        <div class="services-block">
          <ion-icon name="image-outline"></ion-icon>
          <span>ILLUSTRATOR</span>
          <p class="separator">To an English person, it will seem like simplified English,told me what </p>
        </div>

        <div class="services-block">
          <ion-icon name="color-palette-outline"></ion-icon>
          <span>ARTIST</span>
          <p class="separator">To an English person, it will seem like simplified English,told me what </p>
        </div>


      </div>

    </div>

  </div><!-- End Services Section -->