---
layout: layouts/base.njk
section: home
---

{% include "components/hero.njk" %}

<main id="main">

  {% include "components/about.njk" %}
  {% include "components/services.njk" %}
  {% include "components/portfolio.njk" %}
  {# {% include "components/journal.njk" %} #}
  {% include "components/contact.njk" %}

</main>


